/*APP BUTTON*/
.Apps{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    border-color: transparent;
    left: 68%;
    top: -95px;
    transition-duration: 0.5s;
    z-index: 100;
    margin-top: -300px;

}
.Apps:Hover {
    background-color: #101111;

}


/*    BACKGROUND EFFECT    */
* {
    padding: 0;
    margin: 0;
}
canvas {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: -500;
    margin-top: -160px;
}



#hero {
    width: 100%;
    height: 100vh;
    margin: top 0px;
    z-index: -500;
}

#hero .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -500;
}

body {
    overflow: visible;
}
/* GAME PAGE BACKGROUND EFFECT*/

/**/

body{
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027);
    height: 100vh;
    width: 100%;
    z-index: -500;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11) {
    left: 30%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 14s;
}
.circles li:nth-child(12) {
    right: 20%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 6s;
}




@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}/*     CURSOR EFFECT     */

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    height: 20vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: 98;
    transition: 1s ease-out;
        filter: blur(10vmax);
}


.Homebtn {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    border-color: transparent;
    left: 52%;
    bottom: 19px;
    transition-duration: 0.5s;
    z-index: 100;
    top: -28px;
}

.Homebtn:Hover {
    background-color: #101111;
}

.logo {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: transparent;
    margin-left: 20px;
    font-size: 50px;
    cursor: pointer;
    border-color: transparent;
    transition-duration: 0.3s;
    top: 20px;
    z-index: 100;
    margin-top: -10;
}

.logo:Hover {
    color: purple;
    transition-duration: 0.3s;
}

.Games {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    border-color: transparent;
    left: 60%;
    top: -70px;
    transition-duration: 0.5s;
    z-index: 100;


}

.Games:Hover {
    background-color: #101111;

}

/*     START OF GAME CSS     */
.GAMESEC {
    position: relative;
    width: 170px;
    height: auto;
    transition-duration: 0.3s;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: transparent;
    cursor: pointer;
    z-index: 100;
    float: left;
    vertical-align: middle;
}

.GAMESEC:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(2.2);
    transform: scale(1.2);
    z-index: 100;
}

.layout {
    float: left;
    padding:20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 0px;
    loading:lazy;

}
/*END OF GAME CSS*/

